/* .btn-subs .--bs-btn-bg{
  color : #ffffff;
  background-color: #06c274 ;
} */
/* .btn-subs :active{
  color : #ffffff;
  background-color: #06c274 ;
} */
.dropdown-item{
  color :#111111;
}
.dropdown-item:hover{
  color : #ffffff;
  background-color: #06c274 ;
}
/* .a{
  color : #ffffff;
  background-color: #06c274 ;
}
.a:hover{
  color : #ffffff;
  background-color: #06c274 ;
}
.--bs-dropdown-link-active-bg{
  color : #ffffff;
  background-color: #06c274 ;
} */

/* .btn-subs :hover{
  /* color : #ffffff;
  background-color: #06c274 ; }*/

